# Initial Project Structure
## GalleryProject Repository
## ㄴ .gitignore
## ㄴ GalleryProject

### Ignore APIKeys ###
GalleryProject/Credentials/APIKeys.swift


GalleryProject.xcodeproj/xcuserdata/*
GalleryProject.xcodeproj/xcuserdata/**.*

xcuserdata/

xcshareddata/

xcschememanagement

